# Node
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
.env
.env.local
.env.*.local

# Dependency directories
.pnp/
.pnp.js

# Editor directories and system files
.DS_Store
.vscode/
.idea/

# Coverage and caches
coverage/
.cache/
.parcel-cache/

# Optional lockfiles
# package-lock.json
# yarn.lock

# Other
*.log
*.tgz